*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.header-container{
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    height: 50px ;
    width: 100%;
    /* padding: 4px; */
    text-align: center;
    line-height: 50px;
    
    
}
