body{
    margin: 0px;
    padding: 0px;
   
}
input:focus-visible{
    border-color: rgb(103, 117, 240);
}

.outter{
    width: 84%;
    height: 90vh;
    top: 100px;
    position: fixed;
    left: 13%;  
   
}
.container{
    width: 100%;
    display: inline-flex;
    position: relative;
}
.img-Container{
    width: 50%;
    height: 100%;
    
}
.img-Local{
    width: 100%;
    height: 100%;
}
.form-Header{
    color: whitesmoke;
}
.form-Container{
    background-color: rgb(114, 90, 249);
    width: 300px;   
    padding: 30px;
    position: relative;
    left: 6%;
    border-radius: 5%;
}
.label-Container{
    text-align: left;
    width: 100%;
    font-size: medium;
    position: relative;
    top: 10%;
    

}
.label{
    width: 100%;
    margin-bottom: 10px;
}
.label-name{
    width: 100%;
    color: whitesmoke;
}
.label-input{
    padding: 10px;
    width: 92%;
    border-radius: 5px;
    box-shadow: none;
    border: 0px;
    font-size: 16px;

}

.label-Button {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: 0px;
    font-size: 18px;
    border-radius: 5px;
    color: rgb(103, 117, 240);
    ;

}

.label-Button:not([disabled]):hover {
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    font-size: 20px;
    color: whitesmoke;

}

.label-Text{
    color: whitesmoke;
}
